.env
db.sqlite3
venv/
__pycache__/
*.pyc
media/
test_gemini.py
list_models.py

# ignore specific txt files, but keep requirements.txt and runtime.txt
PROJECT_SUMMARY.txt
*.txt
!requirements.txt
!runtime.txt
